PORT=3030
DATABASE_URL= if for local dev provide the dburl

DB_PROVIDER=local   # local | cloud

# LOCAL DB
DB_HOST=localhost
DB_PORT=5432
DB_USER=postgres
DB_PASSWORD= put your db password
DB_NAME=placement_db

#SECRET
JWT_SECRET=thisisasecretforjwt
JWT_ACCESS_TTL=15m
JWT_REFRESH_TTL=1d


#SALTROUNDS
SALT_ROUNDS = 10

#PAGINATION
LIMIT=10

# CLOUD DB (Neon / Supabase)
DATABASE_URL_CLOUD=postgresql://user:pass@host/db

